.progressBar {
  float:left;
  position:relative;
  width:calc(100% - #{$gap});
  height:$gap;
  margin:($gap / 2);
  border-radius:$gap / 2;
  border:1px solid $cGray;
  background-color:$cLightGray;
  overflow:hidden;
  > .progress {
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    width:0%;
    background-color:$cActive;
    /*@include transition(width);*/
  }
}