.progressBar {
  float:left;
  position:relative;
  width:100%;
  height:$gap;
  margin:($gap / 2) 0px;
  border-radius:$gap / 2;
  border:1px solid $cGray;
  background-color:$cLightGray;
  overflow:hidden;
  > .progress {
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    width:0%;
    background-color:$cActive;
    @include transition(width);
  }
}